# Graded Quiz - Python Programming

In [14]:
#impoerting dependencies
import pandas as pd
import numpy as np

In [28]:
#Question 1
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [34]:
#Question 2
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[:2,1:]

TypeError: list indices must be integers or slices, not tuple

In [35]:
#Question 3
#Which of the following is a python inbuilt module?
#Math

In [63]:
#importing dataset(.csv)
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [38]:
#Question 4: How would you check for the number of rows and columns in a pandas DataFrame named df?
df.shape

(60943, 12)

In [41]:
#Question 5
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [42]:
#Question 6
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [44]:
#Question 7
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [45]:
#Question 8
#Which of these python data structures is unorderly?
#Set, Dictionary

In [46]:
#Question 9
#A pandas Dataframe with dimensions (100,3) has how many features and observations?
#3 features(Columns), 100 observations(Rows)

In [47]:
#Question 10
#Which of the following dataframe methods can be used to access elements across rows and columns?
#df.iloc[ : ]

In [64]:
#Question 11: What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
df[['Y2014','Y2017','Item']].groupby('Item').sum().loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [58]:
#Question 12: What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
print(np.mean(df['Y2015']))
print(np.std(df['Y2015']))

135.23596649549236
1603.3904860828056

In [56]:
#Question 13: What is the total number and percentage of missing data in 2016 to 2 decimal places?
print(df['Y2016'].isna().sum())
print(df['Y2016'].isna().sum()*100/len(df['Y2016']))

1535
2.518747025909456

In [55]:
#Question 14: Which year had the highest correlation with ‘Element Code’? 
df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [54]:
#Question 15: What year has the highest sum of Import Quantity?
df[['Y2014','Y2015','Y2016','Y2017','Y2018','Element']].groupby('Element').sum().sort_values('Y2014').loc['Import Quantity']

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [53]:
#Question 16: What is the total number of the sum of Production in 2014?
df[['Y2014','Element']].groupby('Element').sum().sort_values('Y2014').loc['Production']

Y2014    1931287.75
Name: Production, dtype: float64

In [52]:
#Question 17: Which of these elements had the highest sum in 2018?
df[['Y2018','Element']].groupby('Element').sum().sort_values('Y2018')

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [51]:
#Question 18: Which of these elements had the 3rd lowest sum in 2018?
df[['Y2018','Element']].groupby('Element').sum().sort_values('Y2018')

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [50]:
#Question 19: What is the total Import Quantity in Algeria in 2018?
df[df['Area'] == 'Algeria'].sum()

Area Code                                                    5252
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 3532053
Item            PopulationPopulationGrand TotalGrand TotalGran...
Element Code                                              5017927
Element         Total Population - Both sexesDomestic supply q...
Unit            1000 persons1000 tonneskcal/capita/dayg/capita...
Y2014                                                      313375
Y2015                                                      324058
Y2016                                                      326007
Y2017                                                      325644
Y2018                                                      341730
dtype: object

In [49]:
#QUestion 20: What is the total number of unique countries in the dataset?
len(df['Area'].unique())

49